/* Body */
.game-layout {
	margin: 0px;
	background: rgba(238, 238, 238, 255);
	overflow-y: auto;
}

/* Main Content */
.main {
	position: fixed;
	display: flex;
	width: calc(100vw - 250px);
	height: calc(100vh - 50px);
	left: 0;
	top: 0;
	padding: 0;
	overflow-y: auto;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	align-content: flex-start;
}

.main p {
	font-family: 'Amatic SC';
	font-size: 30px;
	margin: 0;
	padding: 30px;
}

.main button {
	display: inline-block;
	font-family: 'Amatic SC';
	font-size: 30px;
	margin: 0 5px 30px 30px;
	padding: 10px;
	width: max-content;
}

/* Player HUD */
.heads-up-display {
	position: fixed;
	width: 250px;
	height: calc(100vh - 50px);
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	border-left: solid #000000 1px;
	overflow-y: auto;
	overflow-x: hidden;
}

.stats {
	margin: 25px auto;
	flex: 0 0 auto;
	width: 200px;
	border: dashed #000000 1px;
}

.stats ul {
	padding: 10px;
	margin:0px;
}

.stats ul lh {
	font-family: 'Amatic SC';
	font-size: 25px;
	font-weight: bold;
}

.stats ul li {
	font-family: 'Amatic SC';
	list-style-type: none;
	font-size: 23px;
}

.inventory {
	margin: 0 auto 25px;
	flex: 0 0 auto;
	width: 200px;
	border: dashed #000000 1px;
}

.inventory ul {
	padding: 10px;
	margin:0px;
}

.inventory ul lh {
	font-family: 'Amatic SC';
	font-size: 25px;
	font-weight: bold;
}

.inventory ul li {
	font-family: 'Amatic SC';
	list-style-type: none;
	font-size: 23px;
}

/* Game Menu */
.menu {
	height: 50px;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: solid #000000 1px;
}

.menu a {
	float: right;
	display: block;
	color: #000000;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Amatic SC';
	padding: 15px 10px;
}

.menu .text-logo {
	float: left;
	display: block;
	color: #000000;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Amatic SC';
	padding: 15px 10px;
}

/* For Phone */
@media only screen and (max-width: 500px) {

	.game-layout {
		overflow: none;
	}
	
	.main {
		position: static;
		width: 100%;
		height: calc(100vh - 250px);

	}

	
	.heads-up-display {
		width: 100%;
		max-height: 200px;
		right: 0;
		top: auto;
		bottom: 50px;
		display: flex;
		flex-direction: column;
		border-top: solid #000000 1px;
		border-left: none;
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.stats {
		margin: 25px auto 0px;
		flex: 0 0 auto;
		width: 200px;
		border: dashed #000000 1px;
		border-bottom: none;
	}

}